@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;

}
.timeline-section{
	background-color: #24292d;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: left;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-image: linear-gradient(to bottom right, orange, yellow, white);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	background: linear-gradient(to bottom right, orange, yellow, white);
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
	margin:6px 0 15px;
}
.timeline-content{
  background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 700;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
.contact{
	color: white;
	text-align: center;
	font-weight: 100;
	font-style: 'poppins', sans-serif;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
  .c{
    display: inline-block;
    margin-right: 5rem;
  }
  .i{
    height: 10rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}
.timeline-section{
  background-image: linear-gradient(to bottom, black, #262626);
}
.hero__title{
	text-align: center;
}


/* .i1{
  height: 10rem;
}
.c{
  display: inline-block;
} */
.timeline-content{
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-repeat: space;
  background-size: cover;
  position: relative;
}
.i{
  height: 12rem;
  z-index: 0;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
}
.c{
  display: inline-block;
  margin-right: 1rem;
  position: relative;
  z-index: 1;
}
.i1{
  background-image: url(https://www.wissenaire.org/assets/competition/img/CS%20Colloquia.png);
}
.i2{
  background-image: url(https://www.wissenaire.org/assets/competition/img/mechanical%20colloquia.png);
}
.i3{
  background-image: url(https://www.wissenaire.org/assets/competition/img/Counterstrike.png);
}
.i4{
  background-image: url(https://www.wissenaire.org/assets/competition/img/call%20of%20duty.png);
}
.i5{
  background-image: url(https://www.wissenaire.org/assets/competition/img/archimedes%20dunk.png);
}
.i6{
  background-image: url(https://www.wissenaire.org/assets/competition/img/quizzare.png);
}
.i7{
  background-image: url(http://i.gzn.jp/img/2017/07/29/robocup-soccer-middle-size-league-rc2017/00.jpg);
}
.i8{
  background-image: url(https://www.wissenaire.org/assets/competition/img/Code%20Hasten.png);
}
.i9{
  background-image: url(https://www.wissenaire.org/assets/competition/img/Auction%20Wars.png);
}
.i10{
  background-image: url(https://www.wissenaire.org/assets/competition/img/Robowars.png);
}
.i11{
  background-image: url(https://www.wissenaire.org/assets/competition/img/electrical%20colloqui.png);
}
.i12{
  background-image: url(https://www.wissenaire.org/assets/competition/img/civil%20colloquia.png);
}
.i13{
  background-image: url(https://www.wissenaire.org/assets/competition/img/Blind%20coding.png);
}
.i14{
  background-image: url(https://c4.wallpaperflare.com/wallpaper/224/473/99/vehicle-rocket-soyuz-roscosmos-state-corporation-wallpaper-preview.jpg);
}
.i15{
  background-image: url(https://www.wissenaire.org/assets/competition/img/maths%20olympiad.png);
}
.i16{
  background-image: url(https://www.wissenaire.org/assets/competition/img/truss%20the%20frame.png);
}
.i17{
  background-image: url(https://www.wissenaire.org/assets/competition/img/school%20champ.png);
}
.i18{
  background-image: url(https://www.wissenaire.org/assets/competition/img/mazesolver.jpg);
}
.i19{
  background-image: url(https://www.wissenaire.org/assets/competition/img/computer%20cypher.png);
}
.i20{
  background-image: url(https://www.wissenaire.org/assets/competition/img/memory%20challenge.png);
}
.i21{
  background-image: url(https://www.wissenaire.org/assets/competition/img/roborace.jpg);
}
.i22{
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYVFRgVFRYZGBgYGBgYGhgaGBoYGBgYGBkaGhkYGBocIS4lHB4rIRkZJjgmKy8xNTc1GiQ7QDs0Py40NTEBDAwMEA8QGhISHjEhJCExMTQ0NDQ0NDQ0NDQxNDQ0MTQ0NDQ0NDQxNDExNDE0NDQ0NDQ0NDQ0NDQ0NDE/MT80Mf/AABEIAMIBAwMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAADAAECBAUGB//EAEIQAAIBAgQDBQUGAwYFBQAAAAECEQAhAxIxQQRRYQUTInGRBjKBofAUQrHB0eEVI1IzYnKS0vE0Q4KiwgcWJFNU/8QAGgEBAQEBAQEBAAAAAAAAAAAAAAECAwQFBv/EACURAQEAAgICAQQCAwAAAAAAAAABAhESIQMxEwRRYYFBcQUUIv/aAAwDAQACEQMRAD8A9VimgUs1KabU+WminmlNNhwKUVGaU02aIrSinpppsNlpZRTzUSabCK1EoKeaemwM4dN3dENNNNqE2EKGcIVYJpoq8qKpwqZsOrRFNlq8qmoothmhkGtApUWwxSZ1OMZzE0J5rSOEKicAVr5InBjMDUGFbDcKKg3CitTyxODEdaGUraPCCofZBV+aHxsZkobYdbh4QU32UU+VPiYRwzUGwuldD9kFQbhBT5T4nOthmhMh5V0h4MVBuBFX5j4nNZTT10P8PFKnzHxOnDU4amJp5rzOpBqkGpqeaB81KaaaegeaaaU0iaB5qNKaVAhTzTTTE0Dmmppps1A5FKlNMTQOaY000xNA9I000s1EMajNOTQzRU6RFRFOaBiKhUiahQSy1ErUxTNRUIqDLU5pjQQy0+WmmmLUD5KeoTSoF9pp/tXWsvvqQxa7cXLk1RxVP9rrLXFpziU4HJqDiqkvFVk97SXEqcV5Nj7VSPFVk97S72pxOTW+10/2msoYtLvqcTk1TxNIcRWScem+004rya5x6bv6zBxPWjopNTivJd76l31VRhmpd0amjY5xqbvaAME0VcA0U/fU3e044ag4qRUBDjUhi1UL0lero2uHFp+9quoBogwqmgQ4lR7yhOsUMU0LfeUxxBVYimM1NKsZqYsKBmNRLmmhYpjQBiGnL00C0qHnpUGMXpwaY4VOFivU8yYamL1EikMOglnpZ6RSo5KCYxKReoFaaKmjYq4lIPQoqYFVVLtzEcYDnDLhg2HBwzleDi4YYKdvCWv+9YfA4fE4zMF4rEBWSE+1s2JGuirl05Md7Wq/7W5xwzZJFxMGPDeb7Wn5cq4vg3KPhthnxB1ykWgyoAPmZEVm9VXSYXfZXd+JxgEIAy8VLPMgsocKYBsRYgkbQTE4uLAfD4nH8TFXZ+JGGAeZxAPH1FzVHtbiTOMFiGxyFgDQBw1+g7sW/u1T42WxEz6dyhTzKAvEWzZ88+XSrljJ2zMq6PjMPjMLKftOK+cSMnFM2cckJSGOtjBOwJq37H9q4j8WyNjYuIhwC4GI5fxEi4sORi03rO9m+MCYOOjiUlBhiMxGI0iMPkTAP61P2YxAe0iViGwsWI0P8zEuNo5RyrOUnHemsbdvS+9FOMcVUIpqxpva6McVn9o49rVOaBxCZgacYbY7ceaGePNC4nCymgZa6cYxyrUwe04rSwO0ga5UiiJiEb0uMWZV0+LxYOlVH42Kyk4qg4+JNZ4Lcmz/ABEU/wDERXNjENMcU1eETnXUfbxTDjQa5c8QaS8QanBebrE4laJ361ybcYedOONPOpwXk6vvhzpVyn8QPOnpwObcL1E1A0i1dnFOaRahAVKipZqYPeovQwDNEGL080FhTKxoDUlaq5mmJqaXYnGoXR0UgMykAnQN90n4gVyXaPY+Lw2G2OvcArlE4auHGdgkpmGVD4tVymCYrrUM1Q9pzPCYw/uofR0P5VLFlcNgYjFc5P3hhqgOW7AusRAVfCZPWSDM0fCxXYBGwkdBmYBmkp4VY5GVgwmRIG5uLGqXDwcJ0LKD3iOMzASAmKrCDqZddPlToiI6t3iOAZlVcE+EH7yiNYnodhfFyrWotjtR84RMgRS2UAZFiCWYyScxAuSxNomKv9mcWMDF71Sid1hFMgZyXz5mBRmw2WTIABEeIdawuEb+cpJB8VyACCINwDbrHmKs8R2eUzwhTDeCHIOVCpZspY63UgdIO5rNyt6WY9bj0bs3sn7QqY/EYxxcxLBFDIi6qcMkmXQQVNlzXmQYrpSK5L2c7fwkwsPBZHZyxErkCjO7FfevaaDx/ti68ScFMNQofJ41ZmYhsrFSrAESwtB01va4y5XULZjN12WWmy1zS+2nDpCcQXXE18CZkKkSpEtMxt0og9tuA/8AsxR54J/I0ssuqTKWbH7WSKzKnxntPwGIP+JdfPh8Q/gapr2vwH/7D8eGxRWpemaMy0MrSHaXBNOXjAYv/wAPi1Vxe1uGWy4ruZi2CyidpLNb0NXkkWFWpMtSyQadmoqucM1HIas1FxWpU0rFKE9XMtCZRQU2FIGjlKEVqoHNKpZKVB0uupp3FqHiNJog0ogaOaNNDMba0pigZnphiUz3pgBQSd6QxKiU3NKIoCDF5ihu807oY90jlY3PIc6gUI5+lARHArL9oeMVMFkdHK4gKZlIJBKkzlibETPQVfxGyCXV0URLlGyCSAJbQXIrH9osFMVFQOi5HUkmCYYCDAJ19d4NZtWOUPDcOQxD4qhQJDKoa5iwm8a+V61+A9mExcM4i4jqBmkOFUjLM5hta/kay8Ts1VcJ3qNO9kVeQJbyHy51s8E6Fz4EaWJkOGF7RIFxeZHKuvi8Nym6zlnIzeG7JRgrpiuoLFZKgMrgqIIn3vGrDoZ2q9xLZsMZG/l4oZZ7pA+dIbI6g2J8MAH7y31FSDZ8TFRYUOoZQIATERcyNI6Z1J5MOVpcAhZMRohS/DlRpkde8OLPLLaTa2XlXl8suOWvtXq8Ulx/tncNx+EglsbGOmWMNUHOJYNNjMiPKjcPhYbKD3mIQcz5XLOSN8wVD/ev151Ve4gIrZWDjOUCm2X+zzXsBY6nlpU8N2izoLGFC4CCSTuxIy3JItVxtl3HO443q1s8JjYDIcPwnMrGCuIAVJMgnuyx8RkQRBE63rmTwuEpZXx3BVisDh5kgwdcQZY6860+C4pg98UIoB8ajDEdVyxmHl61S4/tEKWIKYi5yFEkuVuQ7BWgWibG5rVu+6kxxnUqniHBFl71+pKYfoAHq/2V2fg43vF0vfxo0DKTmPg0tVE8Zgn3sJh1Vwv4Jr51c7M4rCDFcIY2dxFkzsLH3cl9ztWMr10ZY2zqpHs4pxDokuqqpDGNGAMMYAmcw+FqkVRWuWfLdhhiygbl2BC3BEEa260fimQqH7x2xD4Sj5hIJYZslmtkRY8MljEZYoIDYhADEgEATlRFi3RQQBr01pr7r1OvbqxxRYBipEgGCIIm8EbHpUF4ihtjI7Oqt40YhlgzH9SnRluBPWhV2kc7VocXTrxI3rNYGotV0m2keIFQfHG1VREa0MmNKaXa+mKKizis9pNQGIRamjbR74UqpZqeg6pMOamTFDV43vQ3aBM0BmxI2pg060FniJJM05XeaIIgm1PUSIGutSYgCKimZDua5LtbthnZhhlSinLlYIVaPv3vDSYvEAbya2e2+K7vBdpgkZF1mW5RyEn4VwHeWgjQzpMZQRaAbSTPUDlWcqsjWTj+JTx93hkFmucxGZ2LmIcfeB15fGiYftE6EA8PgHLoAMSABEADvCFFhp+sw7Y8OFgGNQ5+IOvzNVuxOFzszEWU2/xaj0B+fSuGWesblXSY7uoN2l2y2IqovDpgmSZwwUZ1KkFTMki8/nVFsbGX3jirOUy2YSPumWGlrbWtWl2pw5ykixXxA7jnesbieKZoLEnwqvP3RH5fjU8ecym4ZY8ej4nEux8TtPXWYA/AD0FE4fi3SYY7fX4elGfAK4KYkW8WYkxEnKPPTaoOjnIGQ5m90CczeQ1m4tr6V2me51Wbjd+kzj5pkm8zpebGQdqnjtmUCWuoVjPvwAJf+q43mqmMYDZgQVeCCCCIDggg3BBMR+ld5wntNw3C8PgYahsZhhgv3LIyo58Tq5mxzM3Os+1k16cFiYS3136/P40M4aRv62/Gu8xfb/h2/wCVjja2T/X9dKr8P7YYDsfBjiL6If8Azq9I5rguPRFZGww4ZGUZguZWb7ymJgTp/vVVsogQw89/oxtv1ruGxi/F4D5WRXwPAWgtldiA5UEgXJiTeJ0Irn/a7i2bjGR3zrglcIGMqmPE+YKTHiLA88ulZxy3lYtnW1TJhtpAlQSM4JWykSMpF5a02i40oYZVKujspBDKyskiQpuMkloLeWW4EXrjGJjMQCcp3Y+GAJESRAC3NhvUsM5ioPKTGYmIB1HIACTuvWtstDh8F1GZGaSZMhAWMzIOXUEKeug1vWTj2WcrstgQwO+RlZiJlhYGPdNlIiDXV4vY65RhQVx8gdWzeBmP3IBiBGWYnUg1wr2Y5ZAJJA0MNcHaDFvga54ebHO2Y/wtxuPtfw8R8RoXM5LEKpJYzJYmZPM3Nt+dafZTsGbBdcrKMwBEWJvpYjed5PKj+zHCTHNz3ZIJkIAHfK20krfkCNKnxiFXw3Yy2Fjd0x/qRyUE9ZI9TXG/VSebg38f/PJYxdLUFhWh9mt0qGJgXgV79uGmbjk2ioZjtV7u8xg2qSYIm16Ck2IQJNDxTEGruJw2aYoScPa9DSn3lKjnhaehp1CuF94XtUXXeIFVTjC8GTIkzpTYMGWEkjSTa1UWmFp1iiK4K31/pqqmJJupB1idfjRw1oKeI+6ZgUCDSKlipabR51XdssT5nl8qg+N1A0tuR5cqDC9rsY5ES5l2J5eEAX/zcjXJvofLzi1dD7Y4mZ8PwxCP0Oq6+nzNc4+h/TpNccvbU9Ol9ocEnB4WAWJzqAASSWIgAC5M/jW32D7POiKmIMhYM5Cw7A3gOZyqIVQIJMnS1RTDDPwhN8iYzr0ZSkN1IJro8HifHkKZVEeM6NKMxjyKxfr0nlPFM5qt3K43pzePwqO5wQX7z+gqFkRJYMdQBNwKyuJ7FwEWGQqQYzPiGNYGgit72swlzo6kg5CcwdliCRIg2tvXPdts7YbNnYoVwjdQCxJALMYkbtGsn11jhjh1C5cvdUeFxM7KMmYIAEXMSki2Ykx4bEzqeYtF04zq5YOwcjKWU5SFBsixdV6et5oPB4qKiljltrtc7/W9VuM4xJYqwOvqb7a3rlljlvc9Oks0g4nEAJnO4LTeSzLNzqTl/HnQe0oLiCCY1BAvte0VPA8SMZ8QaeXiyOw9MlDwXz2cSEAVFmy5nVbReBmmJ2G1dZj6c7YtcF2a2ImfObTAy59NWZs1h1vp1tZTsAuVjFALCQMjZmU3DKCRnHlXT9mJh4aBGICkhCcoGdzEyBa+YbbHStT2hwR9maIlSuUxdYI05GBFudayxuvbG2WmIgxuHgsw4fhUViUKknCMkgTOgBrz3icc4ju51d3c7wXZm9Jf8a704hfO7atwuMf+0i/W0/GvPsMc+XUx9AfOuPi3bdumXqCx5ixIuPyEdOd60/Z5AcYHZfFt9yXiBsYAvWVmjYaj15i56+orrf8A0+H88k7I0TOtl1POT9Gt+bLjhlZ9jCbyjq+Pwsr4J3RVXr1BP1rXnftBg5eJdAPvECI/rIEA7wF2r03FGVHBJOZ7HcktJ/CvOfaw/wDzXH97mee0aXr5P+PyvyZT8PR551HY9hKicNhPlzNme4tGdjMnfwhfWqHbODC8QSNMr/FHVwflNa/s5hzwuHOjAH0/cVX9p4OFjgGcuEUPmSQPxFee5Zf7G/y3qTD9DYgUSABeYoAQE/ntUH8RBtKkiNxyNCZiQRGl9a/Sx4aWPhKDPOhtg2kb1JGULe+XW3OmzjYm3xpUGwsHw9dqEcDxXtaoPiNczfa0VJsXX5mo0duB6UqL35FoNqar2bhHGObdSTBWPejaNJvvzFOhiSoOUx4jlUDnYeVOGlLAPEksJJBERmtJUE89qd+Iy3N7W94AgDXeQdIHMVvbmKVBOsRuxgm2wEiOotUnKlQhOm33idmubifhegnilAJtFjAZlGx2tHr86G+PllVyn/EBq1x5gWpsGfMLDLEj7gJFtBlPzNAVHL5YDaRIPiO2/wCcVYNgCWUclDHxEQIAAhRO08vOhtxEEhgBFwAS8tF4yE5LnfrQct7ZKwdM0TDgi9oK+EnTfTr1rA7pipYCRe9tfXrXS+0yZsLNABV5IBaytb3SAJkrrXMpxLBYBEXgEaE9a5Ze2p6dV21xrIvCvgtLKuJIE7ugyPzBgyOg6VeX2gyqhdWAdA+WSxW5C25WPLTS1cZxGOhjIrDnmYGddIAi0ak/Cj8DwqOD48ragQDI9dZ26isbuM6a1y9tjjOPGJiq2JmI91U8YSDaXYgW6KDpBNaHaeJmR1xRCKuG0YZDMVczhmDMjXr0Fq5V+FObIrM1xJAMLJtMTe00biuHfCIjEcyqnws4A1hSQdrDpO1Sd3dOOlvhcMuhypmRFLMGKSFH3iCRIHrpbWs3jOFKOUKwRGhzAAgEXveCNNiaPwfBOyO6vkCoxcEshKiMygD3phT8BysLFw7kvjKfDOaXct4QQo8JOgC3gAxsLSSS1d3S9wnZ+JhoXdLQmKYYHwBirGJvIf5isjDxMjxMRmQlfFYHUSYNwD8PhWiO8DphtigZ1UAsxKKjOIBkEgBgGgD7s032UM5w8+CAP+Y0jCn/ABFcw3vl5dK3tG3wHbqBM7ESNZBIYiAWUa7Ax0tV7tXt1GwWRSGLFb6KBN5bax016XrGw/ZTHdQcN8B0kwyPKSDce5Mjyop9huJ/rwPV/wDRVty1pJIucJxKMuNlJIXhsZROvubDYXrhwR+H4z+Q9a6k+y3FI4QMJdQpdO8KZXYqUZgmgiSDaCDXNOwUlSIIJBsNQYNc5jcWt7hKfy5adIFdV7Bkd7/0k9LFDPQ2rkM31H10rofY/jRh406+FwBufASAAeZArHnnLx5T8Lh1lHpHHtJRZnxT+Q+uteW+0uPm4vFbbOw0nRiNOVd3wnFMqF8TXCDu09LgeZ5V5ZxOKS7EmTNz1Fj+FeD6DDvLL9O3mvqPUvZXtIdzgpEkK4M6DK7hR57+lB7baMFwLl8XBQdf5is3/aprC9jOJz/y58QYuo2YMAHUdQQD/wBbcqvds8Vmx8PBQz3E4jtt3jDKotcET841BFTH6fK/U/iXZlnJh0tNxYBbY6EqRHqZ51W78EjKdwJjbl+VNJRgTlDEkEPBC3J0Ov70sdS3u8zJyBROxUiIF/OvuvHssTFEgCSCQf2vrUk4kAkgQDYDMAPXnQkuANTlixOZTqZMX1+ooS4RY5VzaakjKABqBuJ+jU0bWziCL2aBGkX3vUipzTcDbxTMXuKogrCzpoCGufheBHlUTikCJaCARAKnztpTRtonjcM65id6VZnfcyvz/SlTS7ag4sAgoQpiAyspYET95Yg6k3tM+Zl4sKWIuTIZ82eb+8VztGwk8rxNSQgmSxvlEBs8nacRico0v6C80EKhNgDut8ONLsbSLfeA5iogqeOM2WJvI8Mb+F9QRr4YMmpBBBVXCgTkQAKHUm5yovMm7EjppUVUBQ18oJ8VysiYiPeudbc7DVOxkk3zTceNeQBvAseV6CGCFJEXItYZoJB8IzWO/WR1qPE4jESACd2kFhlgwDca/dUjXSnTEQoQQzRGVmciNhlQiCdbDytrUXcQV92II0JaMwBLgAWBOxE8rVKvSPEnMWzp4MrBgS8EOWzADKOcTvAPM1xHaHAHCfKGDiMwIgNGniHPXQkWma7HFw/Dd/CSDlLAAmxmBMyNzaqzcCCG8I9ARI1krp5dOgqWbWXTiZomHixb06G9/nXV43Za28MSCAB4SxG4H5R8TQG7GQ6Eg3kRYc5IPy/3rPGryY2ExC5kdVIObLOwiJ2P+HptNXMXEfGMuwRQoAEnKYEEyogkmTMbgbUT+DAkBSbkD3STfcAbW+dXV9nWuq5vD/UjJqDcBgJFj8uYqasNqeH2k6Iyhi5ZSsuPcMqM2G2Yk2BiykEzOxHw4aQTj5SQ5LKWd5MQrgEEiRzteOVXX9n3n3vmDp8fnQz2E4/3+voU1fsbgTcXiO6AFVCQWzOAjkGTm8UFbRGsFudLDVFjOwLZjYXFjYZt/hOlFPYzjUxb9ppv4M4H7bW1irq69H8tbs32iTAwwipmgkkzFzeY5dPnytH2vQj3Jid79RFc4exX1BidL9dev7VH+EPrNxb9uuuxq9nTpV9sVGqEeRtF9x6fV+F7adTjO6CFdy4HIuZYf5s3wArWHY7nVo36g8+m1RfsR2szTy57C1/qKllpNRz4NWOB4hkdXUwQQQeRUgg+v4Vq/wDts657Ef0nf40RPZm/vt5hRz6/rU4WryjQ7a9os+BkRMkkFzmzF21CraQswb6gbXniwjcj6V0XF9mDCYLLEESC0RzMEGDz02qX2bQmCvQaHS37VMfFMZqdFztYmAHBjI3peYmuh7LdEQhpLPlzG5A6ACCQBJ3knlUV4QxYSDI0JgAzOn1HnU8NRpM21BnLMaXHI6nfrXTHHXbNu2h9qWIRiQSBdQsEGQQMx/K5nWxm3E5oMhjaDleQFtfQGevLaqWUsBmJBv8Ada4ve8czfajuw0a7WAUEiBoGEyT8YFalZ0m7mZAJ6czaCux8yR87LEBHi1zGCcpjNPNjJk7fOgi9p1MmEEsWF78thrYUmQg+ILoCSQZgf3S0k30HnFXYKoIMAwRMhTynVojbmNNIpsQq95g6lc17byPPn+QoWkNJJmQFKkiJmRrljyietnGLmMHMu2aZGpvyjTnE02GOMdiPgf8AUZ9aVTxMYyf5bnqLg+RDXpU1Rt4eITARyoknRgJFzmBIEH186hjZsxkqZM+6GJn4eHSZ/Wn4dBPv5JPSdbx0qXFES0Gx0bMPFQRwMN9bFl+80EwIIBF82mgFJDLl2RLiN48NyVUCwtpBGtqJwjGIzkcliSDzmNOk1DGJU5SWE38RkfALQSRGEsuVc4jNnCiNhJXxbWtQXcMSoVJ/pVSyje5W02HOi5rRYz90QSf09aG2WIMIAJ90SemlE2E7BtoGg8je5I8Wm43qIJXQxYCcwkADW+nn/tTh5WxJHlccwN4+NOwfJmJhSet53gG9VQ11m/i2BuRPkdj602KhudTIsYkDbKfrendNypH42vvYfGoO9j97eBAI85Bt8Kg0eA7ODnO4w3SPdKGQY5n9x+WwiIoCKAoAkAaazb4mfjQ+y8PKglpLAMQY8JIFhlFW2XTf5VmqCUF9L6/HSh9yDtP4dKta7RUSgjTfb9KuzSocAX/bXr8utDbh1vz5wPzHlV9UGkRG2lMcOBAAGnyps0z34aw1A5wL8p/ahfZx1/y+vw8+Vaaid/P622pDDA+rem1NmmevCwPrpeoNwl76RH6jr9WrVZOQjrFvrSonD6mrtNMwcIPI7nWfPrRO4EDflaPh5x+dXHQ7MfhH51JcM2vemzTku1WjHsSCF3Fj5Db0qoqtJaBHMKRPlEz5T6Vf7exguNdgpAAuLtfrM+cVXTHDTlOUSPDqp8hB05CiVXgQSMpJ5qSwMzaTc/pVjDQwGsw0vpPQE9NtKErpaTqdrE/p8qSrJOgE2sSI8t6KZAuaSCJGwAM2Mjrpp+9SL5vCc25BbMWEjX5DQfnJEfKRMHX3hI+F7H0ioFpaSBF+do500mwilmItfoB8PDebb+tMH94r4VBjMQVGpsvS3L4VYQSZMxfeAeV/rSkEgyWYQbEgMOp1/CmlCUG5JBiCQ2pjSRN9Pw+M0WR4BLmzLkJUAgj3w5PqABao4iMQSIA1Nwv+UR+tQwX0uFuPukzv1/AU0LP2VTcoZOssJ+NKgM7c2+CW+HipU2N3C4Uv7oGlpqPEKVIzG422pByB4bfG9Rw8VGs4M1QhjjaSfzHPnR3KAZvFnOwO/ONKCircRfbn9WqIcaaH61oIIhkZTBm5P70fERjMkekn1oKvaPz/AEqeFxIAIOu2kUgYnXn0tHnTIJGkDnSOJvFyaii6kg/OKBOu7GR5zNWOx+BTEcuZIBte3kRvQOHwA75a6fAwFRQAAPLepSQ4Ki0RSZxFSeoOOVRolFt6YNH0KTNG9RZ5NBOb61KaAp60UedAgY3pgd/0pyJpBDQSzUzp50tKmBQVyB6bVFb0fETeq+HGbypsc525gfzMx5ADcnzqiiHS/SQbfEitr2gw2kH7vPlWdh4ijw3a1t6sZoIAYgMIjVl5jSm7sCbydQbgj4ikuHBlp9aOMsag+dUV8RiRdQRbe/70psfCAOVzRtLzPSpRa/yoKmcxI/AR8KjivKiST0O1Gdgdren50IrNxA+NAlYAgMYB5GSKghBMiNNN4/CiKk2j41BcHKdB5zpUDW/q/GlT4hufCPQ01UbOLtT4fvClSokFP9pVXiffpUqKjiaVAUqVAaiJT0qAvAf2hrdX8qalWauJhrUDrSpUAm2qdKlRSo67U1KgdtaRpqVSCLaURNKVKqI1HC386VKiqPb39ma5rA96lSrUZp+K19Khh7UqVKkSxdaWNT0qCDe7Sw9KVKoRFtfjRn0pUqCK09KlVH//2Q==);
  /* Trekkon */
}
.i23{
  background-image: url(https://www.wissenaire.org/assets/competition/img/Valorant.png);
}
.i24{
  background-image: url(https://venturebeat.com/wp-content/uploads/2020/05/Garena-Free-Fire.jpg?w=1200&strip=all);
}
.i25{
  background-image: url(https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2017Q2/How-to-pitch-an-idea-@2x.png);
}

.timeline-content{
	font-weight: bolder;
}
.eve{
	font-weight: 500;
}
.cs{
	font-size: 16px;
}
.i{
	width: 13rem;
}
